@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?lciwwe');
    src:    url('fonts/icomoon.eot?lciwwe#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?lciwwe') format('truetype'),
        url('fonts/icomoon.woff?lciwwe') format('woff'),
        url('fonts/icomoon.svg?lciwwe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stagesmith_logo_trenton21:before {
    content: "\e903";
}
.icon-skilled_icon-2:before {
    content: "\e902";
}
.icon-welder:before {
    content: "\e900";
}
.icon-link2:before {
    content: "\e005";
}
.icon-content-right:before {
    content: "\e100";
}
.icon-grid:before {
    content: "\e102";
}
.icon-home2:before {
    content: "\e901";
}
.icon-link:before {
    content: "\e904";
}
.icon-svg:before {
    content: "\e905";
}

